.image {
    max-width: 300px; 
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card {
    width: 300px;  /* O el ancho que quieras */
    margin: 0 auto;  /* Centrado horizontal */
}

